@model DonationPlatform.Models.ProjectCreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<p id="message" style="color:darkgreen;"></p>

<div class="row">
    <div class="col-md-6">
        <div>@Html.DisplayNameFor(model => model._projectAddress)</div>
        <input type="text" name="_projectAddress" id="_projectAddress" required>
        <div>@Html.DisplayNameFor(model => model._name)</div>
        <input type="text" name="_name" id="_name" required>
        <div>@Html.DisplayNameFor(model => model._organisation)</div>
        <input type="text" name="_organisation" id="_organisation" required>
        <br />
        <div>@Html.DisplayNameFor(model => model._photoCID)</div>
        <input type="file" name="photo" id="photo" onchange="upload()">
        <input type="hidden" name="_photoCID" id="_photoCID" required>

        <div>@Html.DisplayNameFor(model => model._description)</div>
        <textarea name="_description" id="_description" rows="4" cols="50" required></textarea>
        <br />
        <button onclick="makeDonateProject()">Create donation project</button>
    </div>
</div>



<script type="text/javascript">
    function setCID(logstr) {
        document.getElementById('_photoCID').value = logstr;
    }

    async function upload() {
        console.log("ACTIVATED");

        const reader = new FileReader();
        reader.onloadend = async function () {
            const ipfs = window.IpfsHttpClient("https://ipfs.infura.io:5001"); // Connect to IPFS
            const buf = await buffer.Buffer(reader.result) // Convert data into buffer
            const result = await ipfs.add(buf).catch() // Upload buffer to IPFS
            setCID(result.path);
            //let url = `https://ipfs.io/ipfs/${result[0].path}` somehow crashed dubbel check if it still works
            let url = `https://ipfs.io/ipfs/${result.path}`
        }
        const photo = document.getElementById("photo");
        reader.readAsArrayBuffer(photo.files[0]); // Read Provided File
    }
</script>